@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  color: #000;
}

:root{
  /* --Gray01: #DDDDDD;
  --Gray02: #6b6b6b;
  --white: #ffffff;
  --green: #1ABC9C;
  --greenHover: #11d1ab; */

  --white: #ffffff;

  --AccentYellow:     #F8DC5E;
  --AccentDarkGray01:   #333333;
  --AccentDarkGray02:   #27262B;
  --AccentDarkPurple: #222946;

  --AccentGray01:     #E5E5E5;
  --AccentGray02:     #BBC5D5;
  --AccentGray03:     #EDEDED;
  --AccentGray04:     #F9f9f9;
  --AccentBlack01:    #11141A;
  --AccentPurple01:   #69519E;
  --AccentPurple02:   #A5A4BF;
  --AccentRed:        #FF0000;
  --AccentRed02:      #E42121;
  --AccentGreen01:    #00F785;
}

/* Start : Top Bar */
.top-bar-section{
  background: var(--AccentDarkGray01);
}

.top-bar-section .top-bar-contain{
  flex-direction: row;
  padding: 12px 0;
}

.top-bar-section .top-bar-contain h3, h4{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
/* End : Top Bar */

/* Start : Navbar */
.navbar-section{
  background: var(--AccentYellow);
  padding: 10px 0;
}

.navbar-section .navbar-contain .search-navbar{
  /* background: var(--white); */
  padding: 12px 12px 12px 12px;
  /* border-radius: 24px; */
  width: 37%;
  /* align-items: center; */
  box-shadow: 5px 5px 0px rgba(0, 0, 0, .3);
}

.navbar-section .navbar-contain .search-navbar input{
  /* border: none; */
  /* width: 100%; */
  /* margin-right: 5px; */
}

.navbar-section .navbar-contain .search-navbar input:focus{
  outline: none;
}

.navbar-section .navbar-contain .search-navbar button{
  /* height: 100%; */
  background: var(--green);
  color: #fff;
  /* border: none; */
  /* align-items: center; */
  /* padding-right: 13px; */
  border-right: 1px solid var(--AccentGray02) !important;
  /* margin-right: 13px; */
}

.navbar-section .navbar-contain .search-navbar button:focus{
  outline: none;
}

.navbar-section .navbar-contain .search-navbar button:hover{
  background: var(--greenHover);
}

.navbar-section .navbar-contain .logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-section .navbar-contain .logo h5{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
}

.navbar-section .navbar-contain .logo img{
  object-fit: cover;
  object-position: center;
  width: 68px;
  height: 68px;
  min-width: 68px;
  min-height: 68px;
  border-radius: 50%;
  margin-right: 14px;
}

.navbar-section .navbar-contain a.keranjang:hover,
.navbar-section .navbar-contain a.user-profile:hover{
  background-color: #eec409;
}

.navbar-section .navbar-contain a.keranjang img,
.navbar-section .navbar-contain a.user-profile img{
  margin-right: 10px;
}

.navbar-section .navbar-contain a.keranjang,
.navbar-section .navbar-contain a.user-profile{
  color: var(--AccentBlack01);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 15px;
  white-space: nowrap;
  display: flex;
}
@media only screen and ( max-width: 991px ){
  .navbar-section .navbar-contain .search-navbar{
    width: 60%;
    padding: 8px;
  }
  .navbar-section .navbar-contain a.keranjang img,
  .navbar-section .navbar-contain a.user-profile img{
    margin-right: 0;
  }
}

@media only screen and ( max-width: 767px ){
  .navbar-section .navbar-contain .search-navbar{
    width: 100%;
    margin-top: 10px;
  }
}
/* End Navbar */

/* Start Header Carousel */
.header-carousel .owl-carousel .owl-stage{
  position: relative;
  overflow: hidden;
  padding-bottom: 30.6%;
}

.header-carousel .owl-carousel .item{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

/* .header-carousel .owl-carousel .item img{
  max-height: 400px;
  min-height: 100px;
  height: 100%;
  object-fit: cover;
  object-position: cover;
} */

.header-carousel .owl-carousel .owl-dots{
  position: absolute;
  bottom: 18px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header-carousel .owl-carousel .owl-dots span{
  height: 13.62px;
  width: 13.62px;
}

.header-carousel .owl-carousel .owl-dots .owl-dot.active span{
  background: var(--AccentDarkPurple);
  height: 19.07px;
  width: 19.07px;
}

.header-carousel .owl-carousel .owl-dots .owl-dot:hover span{
  background: var(--AccentDarkPurple);
}

.header-carousel .owl-carousel .owl-dots .owl-dot span{
  background: var(--white);
  margin: 3px 14px;
}

@media only screen and (max-width: 767px){
  /* .navbar-section .navbar-contain .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
  } */
  
  .navbar-section .navbar-contain .logo img{
    object-fit: cover;
    object-position: center;
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    margin-right: 14px;
  }
}

@media only screen and (max-width: 567px ){
  .header-carousel .container{
    padding: 0;
  }

  .header-carousel .owl-carousel .owl-dots{
    bottom: 10px;
  }

  .header-carousel .owl-carousel .owl-dots .owl-dot.active span{
    height: 12px;
    width: 12px;
  }

  .header-carousel .owl-carousel .owl-dots span{
    height: 10px;
    width: 10px;
  }

  .header-carousel .owl-carousel .owl-dots .owl-dot span{
    margin: 3px 8px;
  }

  .header-carousel .owl-carousel .owl-stage{
    padding-bottom: 33%;
  }

  .header-carousel .owl-carousel .owl-stage
}

/* End Header Carousel */

/* Start Category */
.category{
  background-color: var(--AccentGray04);
  /* padding: 43px 0 33px 0; */
  /* margin-bottom: 52px; */
}

.category .item-cat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc( 100% / 9 - 10px);
  overflow: hidden;
  padding: 5px;
  transition: all;
  transition-duration: .2s;
  border-radius: 5px;
}

.category .item-cat:hover{
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
}

.category .item-cat .image-cat{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--AccentGray01);
}

.category .item-cat .image-cat img{
  width: 100%;
  height: 100%;
}

.category .item-cat p{
  text-align: center;
  margin-bottom: 0;
  margin-top: 17px;
  font-weight: 600;
  color: var(--AccentBlack01);

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

@media only screen and ( max-width: 991px ){
  .category{
    padding: 20px 0 !important;
  }
  .category .list-category{
    overflow-x: scroll;
  }

  .category .item-cat{
    min-width: calc( 100% / 5 - 10px);
    margin-right: 0;
    box-shadow: none;
  }

  .category .item-cat:last-child{
    margin-right: 0;
  }
}

@media only screen and ( max-width: 767px ){
  .category .item-cat .image-cat{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--AccentGray01);
  }

  .category .item-cat .image-cat{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--AccentGray01);
  }

  .category .item-cat p{
    font-size: 12px;
  }

  .category .item-cat{
    min-width: calc( 100% / 6 - 0px);
  }
}

@media only screen and ( max-width: 575px ){
  .category .item-cat{
    min-width: calc( 100% / 6 );
    margin-right: 5px;
  }

  .category .container{
    overflow-x: visible;
    padding: 0;
  }

  .category .list-category{
    padding: 0 20px;
  }

  .category .item-cat p{
    font-size: 10px;
  }
}

@media only screen and (max-width: 420px){
  .category .item-cat{
    min-width: calc( 100% / 4.5 );
    margin-right: 5px;
  }
}
/* End List Category */

/* Start List New Product */
.new-product .container{
  /* padding-bottom: 65px; */
  border-bottom: 1px solid var(--AccentGray01);
}

.new-product{
  /* margin-bottom: 35px; */
}

.recommendation-product{
  /* margin-bottom: 82px; */
}

.new-product .title,
.recommendation-product .title,
.wawasan-usaha .title{
  font-size: 23px;
  font-weight: 600;
  /* margin-bottom: 54px; */
  color: #000;
  text-transform: uppercase;
  
}

.new-product .list-new-product .item-new-product,
.recommendation-product .list-recommendation-product .item-recommendation-product
{
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .1);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
  transition: all;
  transition-duration: .3s;
}

.new-product .list-new-product .item-new-product:hover,
.recommendation-product .list-recommendation-product .item-recommendation-product:hover{
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
}

.new-product .list-new-product .item-new-product .bg-image,
.recommendation-product .list-recommendation-product .item-recommendation-product .bg-image
{
  overflow: hidden;
  position: relative;
  padding-bottom: 85%;
}

.new-product .list-new-product .item-new-product .bg-image img,
.recommendation-product .list-recommendation-product .item-recommendation-product .bg-image img{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.new-product .list-new-product .item-new-product .bg-image .love,
.recommendation-product .list-recommendation-product .item-recommendation-product .bg-image .love
{
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

.new-product .list-new-product .item-new-product .desc-new-product,
.recommendation-product .list-recommendation-product .item-recommendation-product .desc-recommendation-product
{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid var(--AccentGray01);
  background-color: var(--white);
  z-index: 9;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  min-height: 185px;
}

.new-product .list-new-product .item-new-product .desc-new-product h1,
.recommendation-product .list-recommendation-product .item-recommendation-product .desc-recommendation-product h1
{
  font-size: 17px;
  font-weight: 600;
  color: var(--AccentBlack01);
  margin-bottom: 5px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.new-product .list-new-product .item-new-product .desc-new-product .price,
.recommendation-product .list-recommendation-product .item-recommendation-product .desc-recommendation-product .price
{
  align-items: flex-end;
  justify-content: space-between;
}

.desc-new-product .price h2,
.desc-recommendation-product .price h2{
  font-size: 20px;
  font-weight: 700;
  color: var(--AccentPurple01);

  overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: start;
}

.desc-new-product .price h3,
.desc-recommendation-product .price h3{
  font-size: 15px;
  font-weight: 700;
  color: var(--AccentRed);
  text-decoration: line-through;

  overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: start;
}

.new-product .list-new-product .item-new-product .desc-new-product .alamat-toko,
.recommendation-product .list-recommendation-product .item-recommendation-product 
.desc-recommendation-product .alamat-toko{
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.desc-new-product .alamat-toko img,
.desc-recommendation-product .alamat-toko img{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.desc-new-product .alamat-toko p,
.desc-recommendation-product .alamat-toko p{
  font-size: 14px;
  font-weight: 700;
  color: var(--AccentGray02);
  margin-bottom: 0;

  overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: start;
}

.like-n-add-to-cart{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  width: 100%;
  
}

.like-n-add-to-cart .like{
  flex-basis: 30%;
  border: none;
  padding: 33px 0 13px 0;
  background-color: ;
  background-color: var(--AccentGray03);
}

.like-n-add-to-cart .like:hover{
  background-color: var(--AccentGray02);
}

.like-n-add-to-cart .like img{
  height: 18.5px;
  width: 20px;
  margin: 0 auto;
}

.like-n-add-to-cart .add-to-cart{
  flex-basis: 70%;
  border: none;
  padding: 25px 13px 13px 13px;
  background-color: var(--AccentDarkGray02);
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-n-add-to-cart .add-to-cart #tambahkeranjang,
.like-n-add-to-cart .add-to-cart span{
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  /* -webkit-box-orient: vertical;
  text-align: start;  */
}



.like-n-add-to-cart button.add-to-cart:hover{
  background-color: var(--AccentGreen01);
}

.like-n-add-to-cart .add-to-cart img{
  width: 16px;
  height: 18px;
  display: inline;
  margin-right: 15px;
}

.new-product .list-new-product .item-new-product,
.recommendation-product .list-recommendation-product .item-recommendation-product
{
  position: relative;
  padding-bottom: 50px;
}

#tambahkeranjang.active{
  color: var(--AccentGreen01);
  /* overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   /* -webkit-box-orient: vertical; */
   text-align: start;
}

button.add-to-cart:hover #tambahkeranjang.active{
  color: var(--white);
}

@media only screen and (max-width: 767px){
  .new-product .list-new-product .item-new-product .desc-new-product,
  .recommendation-product .list-recommendation-product .item-recommendation-product .desc-recommendation-product
  {
    min-height: 175px;
  }

  .new-product .list-new-product .item-new-product .desc-new-product,
  .recommendation-product .list-recommendation-product .item-recommendation-product .desc-recommendation-product
  {
    padding: 15px;
  }
  .like-n-add-to-cart .like{
    flex-basis: 50%;
  }

  .like-n-add-to-cart .add-to-cart{
    flex-basis: 50%;
  }

  .like-n-add-to-cart .add-to-cart span{
    display: none !important;
  }

  .like-n-add-to-cart .add-to-cart img{
    margin-right: 0;
  }
}

@media only screen and (max-width: 575px){
  /* .new-product .list-new-product .item-new-product .desc-new-product h1,
  .recommendation-product .list-recommendation-product .item-recommendation-product .desc-recommendation-product h1{
    font-size: 15px;
  }

  .desc-new-product .price h2,
  .desc-recommendation-product .price h2{
    font-size: 16px;
  }

  .desc-new-product .price h3,
  .desc-recommendation-product .price h3{
    font-size: 12px;
  } */
}
/* End List New Product */

/* Start : Wawasan Usaha */
.wawasan-usaha{
  background: var(--AccentGray04);
  /* padding: 44px 0 75px 0;   */
}

.wawasan-usaha .item-wawasan-usaha{
  /* padding: 0; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
  background: var(--white);
  width: calc(100% / 3 - 20px);
  /* display: flex; */
  transition: all;
  transition-duration: .3s;
}

.wawasan-usaha .item-wawasan-usaha:hover{
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
}

.item-wawasan-usaha .image{
  width: auto;
  overflow: hidden;
  min-width: 150px;  
  min-height: 150px;  
}

.item-wawasan-usaha .desc-wawasan-usaha .title{
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.item-wawasan-usaha .desc-wawasan-usaha .category-wu{
  font-size: 16px;
  font-weight: 400;
  color: var(--AccentDarkGray01);

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.item-wawasan-usaha .desc-wawasan-usaha .date-artikel{
  color: var(--AccentGray02);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: auto;
}

@media only screen and (max-width: 991px){
  .wawasan-usaha .item-wawasan-usaha{
    width: calc(100% / 2 - 20px);
  }
}

@media only screen and (max-width: 767px){
  .wawasan-usaha .item-wawasan-usaha{
    width: 100%;
  }
}
/* End : Wawasan Usaha */

/* START: Footer */
footer{
  background: var(--AccentDarkGray01);
  /* padding: 50px 0; */
}

footer .copyright{
  text-align: center;
  color: var(--white);
  margin-bottom: 0;
}
/* END: Footer */